{% extends "base.html" %}
{% load cms_tags static thumbnail %}

{% block content %}
    <div class="clearfix">
        <a class="add-review-btn" data-fancybox href="#review-modal">Добавить отзыв</a>
        <h1>{% page_attribute "title" %}</h1>
    </div>
    <div class="review-list">
        {% for t in testimonial_list %}
            <div class="review">
                <div class="review__avatar">
                    {% thumbnail t.photo "150x150" crop="center" as thumb %}
                        <img src="{{ thumb.url }}">
                    {% empty %}
                        <img src="{% static "img/men.png" %}">
                    {% endthumbnail %}
                </div>
                <div class="review__author">{{ t.name }}</div>
                <div class="review__company">{{ t.company }}</div>
                <div class="review__text">
                    {{ t.text }}
                </div>
                <div class="review__link">
                    <a href="http://{{ t.website }}">{{ t.website }}</a>
                </div>
                <div class="review__phone">{{ t.phone_no }}</div>
                <div class="review__rate">
                    {% static "img/star-filled.png" as star_filled %}
                    {% static "img/star-not-filled.png" as star_not_filled %}
                    <img src="{% if t.stars > 0 %}{{ star_filled }}{% else %}{{ star_not_filled }}{% endif %}">
                    <img src="{% if t.stars > 1 %}{{ star_filled }}{% else %}{{ star_not_filled }}{% endif %}">
                    <img src="{% if t.stars > 2 %}{{ star_filled }}{% else %}{{ star_not_filled }}{% endif %}">
                    <img src="{% if t.stars > 3 %}{{ star_filled }}{% else %}{{ star_not_filled }}{% endif %}">
                    <img src="{% if t.stars > 4 %}{{ star_filled }}{% else %}{{ star_not_filled }}{% endif %}">
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="modal" id="review-modal" style="display: none;">
        <form class="review-form" action="{% url "testimonial-create" %}">
            <legend>Оставить отзыв</legend>
            <div class="row">
                <div class="col-sm-5">
                    <input type="text" name="" placeholder="Как вас зовут?">
                </div>
                <div class="col-sm-5">
                    <input type="text" name="" placeholder="Название компании">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <input type="email" name="" placeholder="Ваш e-mail">
                </div>
                <div class="col-sm-5">
                    <input type="text" name="" placeholder="Ваш телефон">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <textarea name="" id="" cols="30" rows="6"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <div class="rate">
                        <label class="rate-label">
                            <input class="rate-radio" type="radio" name="rate" value="1">
                        </label>
                        <label class="rate-label">
                            <input class="rate-radio" type="radio" name="rate" value="2">
                        </label>
                        <label class="rate-label">
                            <input class="rate-radio" type="radio" name="rate" value="3">
                        </label>
                        <label class="rate-label">
                            <input class="rate-radio" type="radio" name="rate" value="4">
                        </label>
                        <label class="rate-label">
                            <input class="rate-radio" type="radio" name="rate" value="5">
                        </label>
                    </div>
                    <label class="btn btn_green attachment">
                        Добавить фото
                        <input type="file">
                    </label>
                    <button class="btn btn_blue" type="submit">Отправить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}