{% load menu_tags %}

{% for child in children %}
    <li class="nav__item">
        <a class="nav__link {% if child.selected %} nav__link_active{% endif %}"
           href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
        {% if child.children %}
            <ul>
                {% for ch in child.children %}
                    <li>
                        <a class="nav__link {% if ch.selected %} nav__link_active{% endif %}" href="{{ ch.attr.redirect_url|default:ch.get_absolute_url }}">{{ ch.get_menu_title }}</a>
                    </li>
	            {% endfor %}
    	    </ul>
        {% endif %}
    </li>
{% endfor %}