{% include "menu/menu.html" %}

{% for child in children %}
    <li>
        <a class="nav__link {% if child.selected %} nav__link_active{% endif %}"
           href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
    </li>
{% endfor %}