{% extends "base.html" %}
{% load thumbnail %}

{% block meta %}
    <title>{{ category.get_meta_title }}</title>
    <meta name="description" content="{{  category.get_meta_description}}">
{% endblock %}


{% block content %}

        <h1>{{ category.title }}</h1>
        {% for product in category.get_products %}
            <div class="catalog-item box">
                <div class="catalog-item__thumb">
                    <a href="{{ product.get_absolute_url }}">
                        {% thumbnail product.image "182x120" crop="center" as thumb %}
                            <img src="{{ thumb.url }}">
                        {% endthumbnail %}
                    </a>
                </div>
                <div class="catalog-item__descr">
                    <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                    <p>{{ product.description }}</p>
                </div>
                <div class="catalog-item__more">
                    <a href="{{ product.get_absolute_url }}">Подробнее</a>
                </div>
            </div>
        {% endfor %}

{% endblock %}