{% extends "base.html" %}

{% block meta %}
    <title>{{ product.get_page_title }}</title>
    <meta name="description" content={{  product.get_page_description}}>
{% endblock %}


{% block content %}
    <h1>{{ product.title }}</h1>
    <div class="product box">
        <div class="product__l-col">
            {{ product.content|safe }}
        </div>
        <div class="product__r-col">
            <div class="product-menu">
                <ul class="product-menu__list">
                    {% for gost in product.category.gosts.all %}
                        <li>
                            <a href="{{ gost.doc.url }}">{{ gost.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="product-menu">
                <div class="product-menu__header">Продукция</div>
                <ul class="product-menu__list">
                    {% for product in product.category.get_products %}
                        <li>
                            <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <a class="btn btn_sea product-menu__send" href="/kontakty/">Отправить заявку</a>
            </div>
        </div>
    </div>
{% endblock %}