{% load static thumbnail %}

<div class="reviews">
    <h2>{{ instance.title }}</h2>
    <div class="review-slider">
        {% for t in testimonials %}
        <div class="review">
            <div class="review__avatar">
                {% thumbnail t.photo "150x150" crop="center" as thumb %}
                    <img src="{{ thumb.url }}">
                {% empty %}
                    <img src="{% static "img/men.png" %}">
                {% endthumbnail %}
            </div>
            <div class="review__author">{{ t.name }}</div>
            <div class="review__company">{{ t.company }}</div>
            <div class="review__text">
                {{ t.text|truncatechars:50 }}
            </div>
            <div class="review__link">
                <a href="http://{{ t.website }}">{{ t.website }}</a>
            </div>
            <div class="review__phone">{{ t.phone_no }}</div>
            <div class="review__rate">
                {% static "img/star-filled.png" as star_filled %}
                {% static "img/star-not-filled.png" as star_not_filled %}
                <img src="{% if t.stars > 0 %}{{ star_filled }}{% else %}{{ star_not_filled }}{% endif %}">
                <img src="{% if t.stars > 1 %}{{ star_filled }}{% else %}{{ star_not_filled }}{% endif %}">
                <img src="{% if t.stars > 2 %}{{ star_filled }}{% else %}{{ star_not_filled }}{% endif %}">
                <img src="{% if t.stars > 3 %}{{ star_filled }}{% else %}{{ star_not_filled }}{% endif %}">
                <img src="{% if t.stars > 4 %}{{ star_filled }}{% else %}{{ star_not_filled }}{% endif %}">
            </div>
        </div>
        {% endfor %}
    </div>
    {% if instance.link %}
    <div class="reviews__view-all">
        <a href="{{ instance.link }}">Все отзывы</a>
    </div>
    {% endif %}
</div>