{% load thumbnail %}

{% if placeholder == "slider" %}
{#    <a href="{{ picture.image.url }}">#}
    {% thumbnail picture.image "150x150" crop="center" as thumb %}
        <div data-thumb="{{ thumb.url }}">
            <img src="{{ picture.image.url }}" alt="{{ picture.alt }}"/>
        </div>
    {% endthumbnail %}
{#    </a>#}
{% else %}
    <span class="plugin_picture{% if picture.float %} align-{{ picture.float }}{% endif %}">
  {% if link %}
      <a href="{{ link }}">{% endif %}
        <img src="{{ picture.image.url }}" alt="{{ picture.alt }}"{% if picture.longdesc %}
             title="{{ picture.longdesc }}"{% endif %}{% if picture.width %} width="{{ picture.width }}px"{% endif %}
        {% if picture.height %} height="{{ picture.height }}px"{% endif %} />
        {% if link %}</a>{% endif %}
  </span>
{% endif %}
