@font-face {
    font-family: "UniSans";
    src: url("../fonts/UniSans.otf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "UniSans";
    src: url("../fonts/UniSansThin.otf") format("truetype");
    font-weight: 100;
}