* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;
}
@media (min-width: 768px) {
	.container {
	width: 760px;
	}
}
@media (min-width: 992px) {
	.container {
	width: 1000px;
	}
}
@media (min-width: 1200px) {
	.container {
	width: 1200px;
	}
}
.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;
}
.row {
	margin-left: -20px;
	margin-right: -20px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10 {
	position: relative;
	min-height: 1px;
	padding-left: 20px;
	padding-right: 20px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10 {
	float: left;
}
.col-xs-10 {
	width: 100%;
}
.col-xs-9 {
	width: 90%;
}
.col-xs-8 {
	width: 80%;
}
.col-xs-7 {
	width: 70%;
}
.col-xs-6 {
	width: 60%;
}
.col-xs-5 {
	width: 50%;
}
.col-xs-4 {
	width: 40%;
}
.col-xs-3 {
	width: 30%;
}
.col-xs-2 {
	width: 20%;
}
.col-xs-1 {
	width: 10%;
}
.col-xs-pull-10 {
	right: 100%;
}
.col-xs-pull-9 {
	right: 90%;
}
.col-xs-pull-8 {
	right: 80%;
}
.col-xs-pull-7 {
	right: 70%;
}
.col-xs-pull-6 {
	right: 60%;
}
.col-xs-pull-5 {
	right: 50%;
}
.col-xs-pull-4 {
	right: 40%;
}
.col-xs-pull-3 {
	right: 30%;
}
.col-xs-pull-2 {
	right: 20%;
}
.col-xs-pull-1 {
	right: 10%;
}
.col-xs-pull-0 {
	right: auto;
}
.col-xs-push-10 {
	left: 100%;
}
.col-xs-push-9 {
	left: 90%;
}
.col-xs-push-8 {
	left: 80%;
}
.col-xs-push-7 {
	left: 70%;
}
.col-xs-push-6 {
	left: 60%;
}
.col-xs-push-5 {
	left: 50%;
}
.col-xs-push-4 {
	left: 40%;
}
.col-xs-push-3 {
	left: 30%;
}
.col-xs-push-2 {
	left: 20%;
}
.col-xs-push-1 {
	left: 10%;
}
.col-xs-push-0 {
	left: auto;
}
.col-xs-offset-10 {
	margin-left: 100%;
}
.col-xs-offset-9 {
	margin-left: 90%;
}
.col-xs-offset-8 {
	margin-left: 80%;
}
.col-xs-offset-7 {
	margin-left: 70%;
}
.col-xs-offset-6 {
	margin-left: 60%;
}
.col-xs-offset-5 {
	margin-left: 50%;
}
.col-xs-offset-4 {
	margin-left: 40%;
}
.col-xs-offset-3 {
	margin-left: 30%;
}
.col-xs-offset-2 {
	margin-left: 20%;
}
.col-xs-offset-1 {
	margin-left: 10%;
}
.col-xs-offset-0 {
	margin-left: 0%;
}
@media (min-width: 768px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10 {
	float: left;
	}
	.col-sm-10 {
	width: 100%;
	}
	.col-sm-9 {
	width: 90%;
	}
	.col-sm-8 {
	width: 80%;
	}
	.col-sm-7 {
	width: 70%;
	}
	.col-sm-6 {
	width: 60%;
	}
	.col-sm-5 {
	width: 50%;
	}
	.col-sm-4 {
	width: 40%;
	}
	.col-sm-3 {
	width: 30%;
	}
	.col-sm-2 {
	width: 20%;
	}
	.col-sm-1 {
	width: 10%;
	}
	.col-sm-pull-10 {
	right: 100%;
	}
	.col-sm-pull-9 {
	right: 90%;
	}
	.col-sm-pull-8 {
	right: 80%;
	}
	.col-sm-pull-7 {
	right: 70%;
	}
	.col-sm-pull-6 {
	right: 60%;
	}
	.col-sm-pull-5 {
	right: 50%;
	}
	.col-sm-pull-4 {
	right: 40%;
	}
	.col-sm-pull-3 {
	right: 30%;
	}
	.col-sm-pull-2 {
	right: 20%;
	}
	.col-sm-pull-1 {
	right: 10%;
	}
	.col-sm-pull-0 {
	right: auto;
	}
	.col-sm-push-10 {
	left: 100%;
	}
	.col-sm-push-9 {
	left: 90%;
	}
	.col-sm-push-8 {
	left: 80%;
	}
	.col-sm-push-7 {
	left: 70%;
	}
	.col-sm-push-6 {
	left: 60%;
	}
	.col-sm-push-5 {
	left: 50%;
	}
	.col-sm-push-4 {
	left: 40%;
	}
	.col-sm-push-3 {
	left: 30%;
	}
	.col-sm-push-2 {
	left: 20%;
	}
	.col-sm-push-1 {
	left: 10%;
	}
	.col-sm-push-0 {
	left: auto;
	}
	.col-sm-offset-10 {
	margin-left: 100%;
	}
	.col-sm-offset-9 {
	margin-left: 90%;
	}
	.col-sm-offset-8 {
	margin-left: 80%;
	}
	.col-sm-offset-7 {
	margin-left: 70%;
	}
	.col-sm-offset-6 {
	margin-left: 60%;
	}
	.col-sm-offset-5 {
	margin-left: 50%;
	}
	.col-sm-offset-4 {
	margin-left: 40%;
	}
	.col-sm-offset-3 {
	margin-left: 30%;
	}
	.col-sm-offset-2 {
	margin-left: 20%;
	}
	.col-sm-offset-1 {
	margin-left: 10%;
	}
	.col-sm-offset-0 {
	margin-left: 0%;
	}
}
@media (min-width: 992px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10 {
	float: left;
	}
	.col-md-10 {
	width: 100%;
	}
	.col-md-9 {
	width: 90%;
	}
	.col-md-8 {
	width: 80%;
	}
	.col-md-7 {
	width: 70%;
	}
	.col-md-6 {
	width: 60%;
	}
	.col-md-5 {
	width: 50%;
	}
	.col-md-4 {
	width: 40%;
	}
	.col-md-3 {
	width: 30%;
	}
	.col-md-2 {
	width: 20%;
	}
	.col-md-1 {
	width: 10%;
	}
	.col-md-pull-10 {
	right: 100%;
	}
	.col-md-pull-9 {
	right: 90%;
	}
	.col-md-pull-8 {
	right: 80%;
	}
	.col-md-pull-7 {
	right: 70%;
	}
	.col-md-pull-6 {
	right: 60%;
	}
	.col-md-pull-5 {
	right: 50%;
	}
	.col-md-pull-4 {
	right: 40%;
	}
	.col-md-pull-3 {
	right: 30%;
	}
	.col-md-pull-2 {
	right: 20%;
	}
	.col-md-pull-1 {
	right: 10%;
	}
	.col-md-pull-0 {
	right: auto;
	}
	.col-md-push-10 {
	left: 100%;
	}
	.col-md-push-9 {
	left: 90%;
	}
	.col-md-push-8 {
	left: 80%;
	}
	.col-md-push-7 {
	left: 70%;
	}
	.col-md-push-6 {
	left: 60%;
	}
	.col-md-push-5 {
	left: 50%;
	}
	.col-md-push-4 {
	left: 40%;
	}
	.col-md-push-3 {
	left: 30%;
	}
	.col-md-push-2 {
	left: 20%;
	}
	.col-md-push-1 {
	left: 10%;
	}
	.col-md-push-0 {
	left: auto;
	}
	.col-md-offset-10 {
	margin-left: 100%;
	}
	.col-md-offset-9 {
	margin-left: 90%;
	}
	.col-md-offset-8 {
	margin-left: 80%;
	}
	.col-md-offset-7 {
	margin-left: 70%;
	}
	.col-md-offset-6 {
	margin-left: 60%;
	}
	.col-md-offset-5 {
	margin-left: 50%;
	}
	.col-md-offset-4 {
	margin-left: 40%;
	}
	.col-md-offset-3 {
	margin-left: 30%;
	}
	.col-md-offset-2 {
	margin-left: 20%;
	}
	.col-md-offset-1 {
	margin-left: 10%;
	}
	.col-md-offset-0 {
	margin-left: 0%;
	}
}
@media (min-width: 1200px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10 {
	float: left;
	}
	.col-lg-10 {
	width: 100%;
	}
	.col-lg-9 {
	width: 90%;
	}
	.col-lg-8 {
	width: 80%;
	}
	.col-lg-7 {
	width: 70%;
	}
	.col-lg-6 {
	width: 60%;
	}
	.col-lg-5 {
	width: 50%;
	}
	.col-lg-4 {
	width: 40%;
	}
	.col-lg-3 {
	width: 30%;
	}
	.col-lg-2 {
	width: 20%;
	}
	.col-lg-1 {
	width: 10%;
	}
	.col-lg-pull-10 {
	right: 100%;
	}
	.col-lg-pull-9 {
	right: 90%;
	}
	.col-lg-pull-8 {
	right: 80%;
	}
	.col-lg-pull-7 {
	right: 70%;
	}
	.col-lg-pull-6 {
	right: 60%;
	}
	.col-lg-pull-5 {
	right: 50%;
	}
	.col-lg-pull-4 {
	right: 40%;
	}
	.col-lg-pull-3 {
	right: 30%;
	}
	.col-lg-pull-2 {
	right: 20%;
	}
	.col-lg-pull-1 {
	right: 10%;
	}
	.col-lg-pull-0 {
	right: auto;
	}
	.col-lg-push-10 {
	left: 100%;
	}
	.col-lg-push-9 {
	left: 90%;
	}
	.col-lg-push-8 {
	left: 80%;
	}
	.col-lg-push-7 {
	left: 70%;
	}
	.col-lg-push-6 {
	left: 60%;
	}
	.col-lg-push-5 {
	left: 50%;
	}
	.col-lg-push-4 {
	left: 40%;
	}
	.col-lg-push-3 {
	left: 30%;
	}
	.col-lg-push-2 {
	left: 20%;
	}
	.col-lg-push-1 {
	left: 10%;
	}
	.col-lg-push-0 {
	left: auto;
	}
	.col-lg-offset-10 {
	margin-left: 100%;
	}
	.col-lg-offset-9 {
	margin-left: 90%;
	}
	.col-lg-offset-8 {
	margin-left: 80%;
	}
	.col-lg-offset-7 {
	margin-left: 70%;
	}
	.col-lg-offset-6 {
	margin-left: 60%;
	}
	.col-lg-offset-5 {
	margin-left: 50%;
	}
	.col-lg-offset-4 {
	margin-left: 40%;
	}
	.col-lg-offset-3 {
	margin-left: 30%;
	}
	.col-lg-offset-2 {
	margin-left: 20%;
	}
	.col-lg-offset-1 {
	margin-left: 10%;
	}
	.col-lg-offset-0 {
	margin-left: 0%;
	}
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
	content: " ";
	display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
	clear: both;
}
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.pull-right {
	float: right !important;
}
.pull-left {
	float: left !important;
}
.hide {
	display: none !important;
}
.show {
	display: block !important;
}
.invisible {
	visibility: hidden;
}
.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.hidden {
	display: none !important;
}
.affix {
	position: fixed;
}
