@media screen and (max-width: 767px) {
    .header {
        flex-wrap: wrap;
        width: 100%;
        padding-top: 35px;
        text-align: center;
        margin-bottom: 0;
        background-position: right top;

        &__phone {
            width: 100%;
            float: none;
            margin: 0 0 10px 0;
        }

        &__mail {
            width: 100%;
            float: none;
            margin: 0 0 20px 0;
            text-align: center;
        }

        &__logo {
            margin-bottom: 15px;
            order: 2;
        }
    }

    .logo {

        a {
            margin-top: 0;
        }
    }

    .nav {

        &__list {
            display: block;
        }

        &__item {
            display: block;
            margin: 10px 0;
        }
    }

    .category {
        margin-bottom: 10px;

        &__item {
            margin-bottom: 20px;
        }

        &__link {
            text-align: center;
        }

        &__name {
            margin-top: 10px;
        }

        &__img-wrap {
            display: inline-block;
        }
    }

    .service {

        &__item {
            text-align: center;
        }
    }

    .feedback {

        &__attach {
            margin-bottom: 10px;
        }
    }

    .contacts {

        &__item {
            float: none;
            width: 100%;
        }

        &__item-name {
            margin-bottom: 5px;
        }
    }

    .copyright {
        margin-bottom: 20px;
    }

    .footer-nav {
        margin-bottom: 10px;
    }

    .box {
        @include flex-direction(column);
    }

    .ref {
        @include flex-direction(column);
        margin-bottom: 15px;

        &__text,
        &__link-wrap {
            width: 100%;
            padding: 15px 10px;
        }
    }

    .catalog-item {
        height: auto;

        &__thumb {
            width: 100%;

            img {
                margin: 0 auto;
            }
        }

        &__descr {
            width: 100%;
            margin: 0;
            padding: 15px 10px;
        }

        &__more {
            width: 100%;
            padding: 15px 10px;

            a {
                position: relative;
            }
        }
    }

    .delivery {
        margin-bottom: 20px;
    }

    .product {

        &__l-col {
            width: 100%;
            padding: 15px 10px;
        }

        &__r-col {
            width: 100%;
            padding: 15px 10px;
        }
    }

    .review-list {

        .review {
            width: 100%;
        }
    }
}

