html {
    height: 100%;
}

body {
    height: 100%;
    background: #f0f0f0 url(../img/header-bg.png) no-repeat;
    background-size: 100%;
    font-family: $base-font;
    font-size: $base-size;
    color: $base-color;
}

img {
    max-width: 100%;
    height: auto !important;
}

a {
    color: $link-color;
}

h1 {
    margin-top: 0;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 30px;
    color: #000;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #000;
}

.btn {
    display: inline-block;
    border: none;
    outline: none;
    text-decoration: none;
    padding: 7px 30px;
    cursor: pointer;
    font-size: 14px;
    line-height: 26px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;

    &_green {
        background-color: #619c1b;

        &:hover {
            background-color: darken(#619c1b, 10%);
        }
    }

    &_blue {
        background-color: #51889b;

        &:hover {
            background-color: darken(#51889b, 10%);
        }
    }

    &_sea {
        background-color: #129793;

        &:hover {
            background-color: darken(#129793, 10%);
        }
    }
}

.wrap {
    position: relative;
    min-height: 100%;
    padding-bottom: 200px;
}

.header {
    padding-top: 40px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    font-size: 16px;
    display: flex;
    padding: 0 15%;
    background-image: url(../img/5years.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 10%;
    align-items: center;

    &__phone {
        width: 25%;
        
        a {
            text-decoration: none;
            color: #000;
            font-size: 22px;
            font-weight: 700;
        }
    }

    &__logo {
        text-align: center;

    }

    &__mail {
        margin-top: -18px;        
        width: 25%;
        text-align: right;

        a {
            text-decoration: none;
            color: #000;
            font-size: 22px;
            font-weight: 700;
        }
    }
}

.logo {
    flex-grow: 1;
    font-family: "UniSans", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;

    a {
        padding-top: 90px;
        display: inline-block;
        text-decoration: none;
        color: #000;
        background: url(../img/color.png) no-repeat center top;
        max-width: 350px;
    }
}

.nav {
    @include list-reset;
    display: table;
    width: 100%;
    margin-bottom: 25px;

    &__item {
        position: relative;
        display: table-cell;
        text-align: center;

        &:nth-child(3) {

            a {
                pointer-events: none;
            }
        }

        &:hover {

            ul {
                opacity: 1;
                z-index: 10;
                pointer-events: auto;
            }
        }

        ul {
            list-style-type: none;
            padding: 10px 0 0 0;
            position: absolute;
            top: 100%;
            left: -5px;
            right: 0;
            opacity: 0;

            a {
                pointer-events: initial !important;
                text-align: center;
                background: #fff;
                display: block;
                text-decoration: none;
                border-left: 5px solid;
                padding: 15px 5px;
                transition: all 0.3s ease-out;
            }
        }
    }

    &__link {
        font-size: 18px;
        text-decoration: underline;
        color: #333333;

        &:hover,
        &_active {
            color: #ac7300;
        }
    }
}

.category {
    @include clearfix;
    margin-bottom: 50px;

    &__link {
        display: block;
        text-decoration: none;

        &:hover {

            .category__name {
                color: #bc7432;
            }

            .category__img-border {
                border: 5px solid #ffc600;
            }
        }
    }

    &__name {
        display: inline-block;
        margin-top: 25px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: #006384;
    }

    &__img-wrap {
        position: relative;
        font-size: 0;
    }

    &__img-border {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
}

.about {

    h1 {
        margin-bottom: 20px;
        margin-top: 0;
        font-size: 30px;
        color: #000;
    }

    p {
        font-size: 14px;
        line-height: 26px;
    }
}

.service {

    h2 {
        margin-bottom: 20px;
        margin-top: 0;
        font-size: 30px;
        font-weight: 700;
        color: #000;
    }
    &__item {
        margin-bottom: 40px;
        font-size: 0;
    }

    &__img-wrap {
        display: inline-block;
        margin-right: 10px;
        overflow: hidden;
        vertical-align: middle;
        font-size: 0;
        border-radius: 50%;
    }

    &__name {
        display: inline-block;
        max-width: 125px;
        vertical-align: middle;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        text-transform: uppercase;
    }
}

.ref {
    @include flexbox;
    margin-bottom: 10px;
    background: #fff;
    border: 2px solid #c7c7c7;
    line-height: 26px;

    &:last-child {
        margin-bottom: 20px;
    }

    &__text {
        width: 917px;
        padding: 22px 35px;

        p {
            margin: 0;
        }
    }

    &__standart {
        color: #000;
    }

    &__link-wrap {
        width: 239px;
        padding: 22px 20px;
        background: #f8f8f8;
    }

    &__link {
        display: block;
        padding-left: 30px;
        color: #006797;

        &_pdf {
            background: url(../img/pdf.png) no-repeat left center;
        }

        &_doc {
            background: url(../img/word.png) no-repeat left center;
        }
    }
}

.delivery {
    margin-bottom: 60px;

    p {
        color: #000;
        font-size: 16px;
        line-height: 26px;
    }
}

.box {
    @include flexbox;
    border: 2px solid #c7c7c7;
    background: #fff;
}

.catalog-item {
    height: 120px;
    margin-bottom: 20px;
    line-height: 26px;

    &:last-child {
        margin-bottom: 30px;
    }

    &__thumb {
        width: 182px;

        img {
            display: block;
            width: 100%;
            height: 100% !important;
            object-fit: contain;
        }
    }

    &__descr {
        width: 816px;
        margin: 18px 35px;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
            color: #000;
        }

        p {
            margin: 0;
            color: #000;
        }
    }

    &__more {
        position: relative;
        width: 158px;
        background: #f8f8f8;

        a {
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            margin-top: -13px;
            text-align: center;
            color: #006797;
        }
    }
}

.product {
    margin-bottom: 30px;

    &__l-col {
        width: 875px;
        padding: 50px 35px 25px;

        img {
            display: block;
            margin: 0 auto;
        }

        p {
            line-height: 26px;
            margin-bottom: 26px;
        }

        table {
            border-collapse: collapse;
            text-align: center;
        }

        th {
            font-weight: 400;
        }

        td,
        th {
            width: 25%;
            padding: 11px 5px;
            border: 1px solid #e5e5e5;
        }
    }

    &__r-col {
        width: 281px;
        padding: 25px 20px;
        background: #f8f8f8;
    }
}

.product-menu {

    &__header {
        font-size: 20px;
        line-height: 26px;
        color: #1e1e1e;
    }

    &__list {
        @include list-reset;
        margin-bottom: 30px;
        font-size: 15px;
        line-height: 16px;

        li {
            padding: 8px 0;
        }
    }

    &__send {
        text-align: center;
        width: 100%;
    }
}

.map {

    &__wrap {
        border: 10px solid #fff;
    }

    p {
        margin-bottom: 30px;
        color: #000;
        font-size: 16px;
        line-height: 26px;
    }
}

.feedback {
    margin-bottom: 30px;

    &__form {
        width: 100%;
    }



    &__attach {
        float: left;
        margin-right: 20px;
        padding-left: 60px;
        background-image: url(../img/clip.svg);
        background-repeat: no-repeat;
        background-position: 25px center;
        background-size: 24px 24px;
    }

    &__attach-hide {
        position: absolute;
        opacity: 0;
        left: -99999px;
    }
}

input[type="text"],
input[type="email"],
textarea {
    @include input-placeholder {
        color: #8d8d8d;
        font-style: italic;
    }
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 7px 10px 6px 20px;
    border: none;
    border-left: 1px solid #e3ddd7;
    border-top: 1px solid #e3ddd7;
    line-height: 26px;
}

.attachment {
    padding-left: 60px;
    background-image: url(../img/clip.svg);
    background-repeat: no-repeat;
    background-position: 25px center;
    background-size: 24px 24px;

    input[type="file"] {
        display: none;
    }
}

.production-slider {
    margin-bottom: 20px;
}

.calculator {
    padding: 20px;
    margin-bottom: 20px;
    border: 10px solid #fff;
    background: #f4f7f2;
}

.pipe-type {
    @include list-reset;
    margin-bottom: 40px;

    .active a {
        color: #000;
        border: none;
        cursor: default;
    }

    li {
        margin: 10px 0;
    }

    a {
        display: inline-block;
        border-bottom: 1px dotted #129793;
        color: #129793;
        text-decoration: none;
        cursor: pointer;
    }
}

.pipe-descr {
    font-style: italic;
    line-height: 26px;
}

.pipe-type-caption {
    margin-top: 50px;
    font-weight: 700;
}

.calc-type-control {
    position: absolute;
    left: -9999px;

    &:checked + label {
        background: #129793;
        color: #fff;

        &:after {
            display: block;
            position: absolute;
            top: 100%;
            left: calc(50% - 11px);
            content: '';
            border: 11px solid transparent;
            border-top-color: #129793;
        }
    }
}

#calc-by-size:checked ~ .sizes {
    display: block;
}

#calc-by-assortment:checked ~ .assortment {
    display: block;
}

.calc-type-label {
    float: left;
    position: relative;
    width: 50%;
    padding: 7px 0;
    line-height: 26px;
    text-align: center;
    background: #fff;
    color: #525252;
    cursor: pointer;
}

.calc-type-content {
    display: none;
}

.pipe-image {
    text-align: center;

    img {
        width: 270px;
        height: 270px;
    }
}

.ppu-image {
    padding-top: 20px;
}

.form-row {
    padding-top: 20px;
}

.form-label {
    display: block;
    padding-bottom: 4px;
    line-height: 26px;
}

.form-control {
    min-height: 40px;
    padding: 7px 10px;
    width: 100%;
    line-height: 26px;
    border: none;
    outline: none;
    -webkit-box-shadow: inset 1px 1px 0 #e3ddd7;
    -moz-box-shadow: inset 1px 1px 0 #e3ddd7;
    box-shadow: inset 1px 1px 0 #e3ddd7;
}

.form-submit {
    width: 100%;
}

.clear {
    @include clearfix;
}

.fotorama {

    &__thumb-border {
        border-color: #f2c667;
    }
}

.fotorama__stage {

    .fotorama__img {
        border: 5px solid #fff !important;
    }
}

.footer {
    position: absolute;
    max-width: 1160px;
    height: 200px;
    bottom: 0;
    padding-top: 25px;
    padding-bottom: 20px;
    border-top: 3px solid #c6c6c6;
}

.contacts {
    @include clearfix;

    &__header {
        margin-bottom: 10px;
        font-weight: 700;
    }

    &__item {
        float: left;
        width: 50%;
    }

    &__item-name {
        display: block;
        margin-bottom: 10px;
        color: #9a9a9a;
    }

    &__item-value {
        display: block;
        margin-bottom: 20px;
        font-size: 16px;
    }
}

.copyright {

    &__text {
        display: block;
        margin-bottom: 3px;
        color: #000;
        
        a {
            text-decoration: none;
            color: #000;
        }
    }

    &__link {
        color: #006797;
    }
}

.footer-nav {

    &__header {
        display: block;
        margin-bottom: 10px;
        font-weight: 700;
    }

    &__list {
        @include list-reset;
    }

    &__link {
        color: #006797;
        line-height: 25px;
    }
}

.errorlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #9c3328;
    text-align: right;
}

.result-wrap {
    text-align: center;
    font-size: 20px;
}

.result {
    font-size: 24px;
    font-weight: 700;
}

.reviews {
    padding-top: 40px;
    border-top: 7px solid #fff;

    h2 {
        margin-bottom: 40px;
        font-size: 30px;
        font-weight: 700;
    }

    &__view-all {
        margin-bottom: 45px;
        text-align: center;

        a {
            color: #006384;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.review-slider {
    margin-bottom: 25px;
}

.review-list {
    @include flexbox;
    @include flex-wrap(wrap);

    .review {
        margin-bottom: 50px;
        width: 50%;
    }
}

.review {
    padding-left: 90px;
    padding-right: 90px;
    line-height: 20px;
    text-align: center;

    &__avatar {
        width: 150px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        border-radius: 50%;
        overflow: hidden;
    }

    &__author {
        font-weight: 600;
    }

    &__company {
        margin-bottom: 20px;
        font-weight: 300;
    }

    &__text {
        margin-bottom: 20px;
        font-style: italic;
    }

    &__phone {
        margin-bottom: 10px;
    }

    &__rate {

    }
}

.add-review-btn {
    float: right;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    text-transform: uppercase;

    &:hover {
        text-decoration: none;
    }
}

.modal {
    border-radius: 15px;
    background-color: #f0f0f0;
}

.review-form {

    legend {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
    }

    .rate {
        float: left;
        margin-top: 8px;
        margin-right: 30px;
    }
}

.rate-label {
    display: inline-block;
    width: 24px;
    height: 23px;
    background-image: url(../img/star-not-filled.png);
    cursor: pointer;
}

.rate-radio {
    display: none;
}

.rate-label.filled {
    background-image: url(../img/star-filled.png);
}

.lSAction>.lSPrev {
    background-image: url(../img/control-prev.png);
    background-position: 0 0;
}

.lSAction>.lSNext {
    background-image: url(../img/control-next.png);
    background-position: 0 0;
}

.lSAction>a {
    width: 48px;
    height: 93px;
    margin-top: -47px;
}