<div class="ref">
    <div class="ref__text">
        <p>{{ instance.info_text }}</p>
        <div class="ref__standart">
            <p>{{ instance.gost }}</p>
        </div>
    </div>
    <div class="ref__link-wrap">
        {% if instance.pdf %}
            <a class="ref__link ref__link_pdf" href="{{ instance.pdf.url }}">Скачать в PDF {{ instance.pdf.size|filesizeformat }}</a>
        {% endif %}
        {% if instance.doc %}
            <a class="ref__link ref__link_doc" href="{{ instancen.doc.url }}">Скачать в DOC {{ instance.doc.size|filesizeformat }}</a>
        {% endif %}

    </div>
</div>