{% extends "base.html" %}


{% block meta %}
    <title>Ошибка сервера</title>
{% endblock %}


{% block content %}
    <h1>Ошибка сервера</h1>
    <p>
    Приносим свои извинения, мы уже работаем над устранением проблемы.
    </p>
{% endblock %}