{% load menu_tags static cms_tags sekizai_tags service_tag category_tags %}

<!DOCTYPE html>
<html>
<head>
    <meta name="yandex-verification" content="8afbe83b8aeeeb8e" />
    <meta name="cmsmagazine" content="eb4fcaeada596c995a964eb0097c0aec" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">

    {% block meta %}
        <title>{% page_attribute "page_title" %}</title>
    {% endblock %}

    {% addtoblock "css" %}
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
    {% endaddtoblock %}
    {% addtoblock "js" %}
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/jquery.fancybox.min.js" %}"></script>
        <script src="{% static "js/lightslider.min.js" %}"></script>
        <script src="{% static "js/main.min.js" %}"></script>
    {% endaddtoblock %}
</head>
<body>
{% cms_toolbar %}
<div class="wrap">
    <div class="container">

        <header class="header">
            <div class="header__phone">
                <a href="tel:+78005508332">8 800-550-83-32</a> <br>
                <small>Звонок по России бесплатный</small>
            </div>
            <div class="header__logo logo">
                <a href="/">Завод современных тепловых сетей</a>
            </div>
            <div class="header__mail">
                {#% static_placeholder "head_email" %#}
                <a href="mailto:ppurf@mail.ru" onclick="yaCounter42613729.reachGoal('email_click')">ppurf@mail.ru</a>
            </div>
        </header>


        <ul class="nav">
            {% show_menu 0 100 100 100 %}
        </ul>

        <div class="category">
            <div class="row">
                {% category_list as category_list %}
                {% for category in category_list %}
                    <div class="col-sm-2 category__item">
                        <a class="category__link" href="{{ category.get_absolute_url }}">
                            <div class="category__img-wrap">
                                <div class="category__img-border"></div>
                                <img class="category__img" src="{{ category.icon.url }}">
                            </div>
                            <span class="category__name">{{ category.get_menu_title }}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {#    <div class="row">#}
            {% block content %}

            {% endblock %}
    {#    </div>#}

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="contacts">
                            <div class="contacts__header">Контактная информация</div>
                            <div class="contacts__item">
                                <span class="contacts__item-name">Телефон</span>
                                <span class="contacts__item-value"><a href="tel:+78005508332">8 800-550-83-32</a></span>
                            </div>
                            <div class="contacts__item">
                                <span class="contacts__item-name">Адрес</span>
                                <span class="contacts__item-value">
                                    <p>г. Киров, ул. Колесникова 10</p>
                                </span>
                            </div>
                        </div>
                        <div class="copyright">
                            <div class="copyright__text">© 2016 <a href="/">Завод современных тепловых сетей</a></div>
                            <a class="copyright__link" href="http://www.webmeg.ru" target="_blank">Создано в «Web
                                MEG»</a>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-5 footer-nav"><span class="footer-nav__header">Продукция</span>
                                <ul class="footer-nav__list">
                                    {% category_list as category_list %}
                                    {% for category in category_list %}
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link" href="{{ category.get_absolute_url }}">
                                                {{ category.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-sm-5 footer-nav"><span class="footer-nav__header">Услуги</span>
                                <ul class="footer-nav__list">
                                    {% service_list as service_list %}
                                    {% for service in service_list %}
                                        <li class="footer-nav__item">
                                            <a class="footer-nav__link"
                                               href="{{ service.get_absolute_url }}">{{ service.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
{% render_block "css" %}
{% render_block "js" %}
{% static_placeholder "metrics" %}
</body>
</html>