{% extends "base.html" %}
{% load static cms_tags %}

{% block content %}
    <h1>{% page_attribute "title" %}</h1>
    <div class="calculator">
        {% block calc-form %}
            <form class="js-calc" action="">
                <div class="row">
                    <div class="col-md-3 col-sm-10">
                        <p class="pipe-type-caption">Тип трубы</p>
                        <ul class="pipe-type">
                            <li class="active">
                                <a data-field-group="circle">Круглая</a>
                            </li>
                            <li>
                                <a data-field-group="rectangle">Прямоугольная</a>
                            </li>
                            <li>
                                <a data-field-group="square">Квадратная</a>
                            </li>
                        </ul>
                        <p class="pipe-descr">Изделие на основе замкнутого полого профиля постоянного сечения</p>
                    </div>
                    <div class="col-md-3 col-sm-5">
                        <form action="" class="js-calc">
                            <div class="form-row calc-field square rectangle hidden">
                                <label class="form-label" for="side-a">Сторона a, мм</label>
                                <input class="form-control" id="side-a" type="number" step="0.1" min="0" required>
                            </div>
                            <div class="form-row calc-field rectangle hidden">
                                <label class="form-label" for="side-b">Сторона b, мм</label>
                                <input class="form-control" id="side-b" type="number" step="0.1" min="0" required>
                            </div>
                            <div class="form-row calc-field circle">
                                <label class="form-label" for="diameter">Диаметр трубы D, мм</label>
                                <input class="form-control" id="diameter" type="number" step="0.1" min="0" required>
                            </div>
                            <div class="form-row calc-field circle square rectangle">
                                <label class="form-label" for="thickness">Толщина стенки s, мм</label>
                                <input class="form-control" id="thickness" type="number" step="0.1" min="0"
                                       required>
                            </div>
                            <div class="form-row">
                                <label class="form-label" for="material">Материал трубы</label>
                                <select class="form-control" name="material" id="material">
                                    <option value="7850">Углеродистая сталь</option>
                                    <option value="7900">17X18H9</option>
                                    <option value="7960">06XH28MДT</option>
                                    <option value="7700">12X17</option>
                                    <option value="7950">12X18H10T</option>
                                    <option value="8100">08X17H15M3T</option>
                                    <option value="7600">15X25T</option>
                                    <option value="8000">10X17H13M2T</option>
                                    <option value="2850">Дюралюминий</option>
                                    <option value="4540">Титан</option>
                                    <option value="8960">Медь</option>
                                    <option value="8600">Латунь</option>
                                    <option value="11340">Свинец</option>
                                    <option value="19300">Золото</option>
                                </select>
                            </div>
                            <div class="form-row">
                                <label class="form-label" for="density">Плотность материала, кг/м3</label>
                                <input class="form-control" id="density" type="text" value="7850" required readonly>
                            </div>
                        </form>
                        <div class="form-row">
                            <button class="form-submit btn btn_blue calc-btn" type="button">Рассчитать</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5">
                        <div class="pipe-image">
                            <img class="calc-field circle" src="{% static "img/pipe.svg" %}" alt="">
                            <img class="calc-field rectangle hidden" src="{% static "img/pipe-b.svg" %}" alt="">
                            <img class="calc-field square hidden" src="{% static "img/pipe-a.svg" %}" alt="">
                        </div>
                        <div class="result-wrap">
                            <p>Масса одного метра трубы, кг:</p>
                            <p class="result"></p>
                        </div>
                    </div>
                </div>
            </form>
        {% endblock %}
    </div>
{% endblock %}