{% extends "calculator.html" %}
{% load static %}

{% block calc-form %}
    <form action="">
        <div class="row">
            <div class="col-md-3 col-md-push-1">
                <div class="form-row">
                    <label class="form-label" for="diameter">Диаметр трубы, мм</label>
                    <input class="form-control" id="diameter" type="number" step="0.1" min="0" required="">
                </div>
                <div class="form-row">
                    <label class="form-label" for="thickness">Толщина скорлупы трубы, мм</label>
                    <input class="form-control" id="thickness" type="number" step="0.1" min="0" required="">
                </div>
                <div class="form-row">
                    <label class="form-label" for="length">Общая длина, м</label>
                    <input class="form-control" id="length" type="number" step="0.01" min="0" required="">
                </div>
                <div class="form-row">
                    <button class="form-submit btn btn_blue calc-btn" type="button">Рассчитать</button>
                </div>
            </div>
            <div class="col-md-4 col-md-push-1">
                <div class="ppu-image">
                    <img class="center-block" src="{% static "img/scorlupa.jpg" %}" alt="">
                </div>
                <div class="result-wrap">
                        <p>Объём, м3:</p>
                        <p class="result"></p>
                    </div>
            </div>
        </div>
    </form>
{% endblock %}