{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% addtoblock "js" %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% endaddtoblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-5 col-sm-5 map">
            <h2>Карта проезда</h2>
            <div class="map__wrap">
                {% placeholder "map" %}
            </div>
            {% placeholder "content" %}
        </div>
        <div class="col-lg-5 col-sm-5 feedback">
            <h2>Форма обратной связи</h2>
            {% placeholder "feedback-form" %}
        </div>
    </div>
{% endblock %}