{% extends "base.html" %}
{% load cms_tags %}

{% block content %}
    <h1>{% page_attribute "title" %}</h1>
    <div class="row">
        <div class="col-sm-5 delivery">
            {% placeholder "content_left" %}
        </div>
        <div class="col-sm-5 delivery">
            {% placeholder "content_right" %}
        </div>
    </div>
{% endblock %}