{% extends "base.html" %}
{% load static cms_tags sekizai_tags service_tag %}
{% block content %}
    <div class="row">
        <div class="col-md-5 about">
            {% placeholder "content" %}
        </div>
        <div class="col-md-5 service">
            <h2>Услуги</h2>
            <div class="row">
                {% service_list 4 as service_list %}
                {% for service in service_list %}
                    <div class="col-sm-5 service__item">
                        <a href="{{ service.get_absolute_url }}">
                            <div class="service__img-wrap">
                                <img src="{{ service.icon.url }}">
                            </div>
                            <div class="service__name">{{ service.title }}</div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% placeholder "testimonials" %}
{% endblock %}