{% extends "base.html" %}
{% load cms_tags %}

{% block content %}
    <h1>{% page_attribute "title" %}</h1>
    {% placeholder content %}

    <div id="lightslider">
        {% placeholder slider %}
    </div>
{% endblock %}